extends layout

block content
    h1= title
    div
     table(style='width:100%', border='1')
      thead
        tr: th Name
            th Age
      tbody
        each rows in data
          tr
            td= rows.name
            td= rows.age    